attrs
blis
brotlipy==0.7.0
catalogue==1.0.0
certifi==2020.12.5
cffi
chardet
cryptography
cymem
fasttext
idna
importlib-metadata
jsonschema==3.0.2
#mkl-fft==1.2.0
#mkl-random==1.1.1
#mkl-service==2.3.0
murmurhash
numpy
pandas==1.2.1
plac
praw==7.1.0
prawcore==1.5.0
preshed
pybind11==2.6.1
pycparser
pyOpenSSL
pyrsistent
PySocks
python-dateutil==2.8.1
pytz==2020.5
requests
six
spacy
srsly
thinc
tqdm
update-checker==0.18.0
urllib3
wasabi
websocket-client==0.57.0
zipp
